@tailwind base;
@tailwind components;
@tailwind utilities;

.seconds {
    width: 80px;
    height: 5px;
    position: absolute;
    top: 4%;
    left: calc(50% - 10px);
    transform: rotate(0deg);
    animation: 10s seconds linear infinite;
    background-color: #a3ff91;
    transform-origin: 10px center;
    border: 0.5px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    border-radius: 0 20px 20px 0;
    z-index: 1;
}

.seconds:after {
    content: "";
    display: block; 
    position: absolute; 
    left: 5px;
    top: -2px; 
    height: 8px; 
    width: 8px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    background-color: whitesmoke; 
    border-radius: 50%; 
    z-index: 1;
}

@keyframes seconds {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
